<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="ingredients-image">
      <div class="ingredients-image-container">
          {% include 'image' with img : section.settings.image, class: 'full-width' %}
      </div>
</section>
