
/*================ #landing PAGE =============================*/

html{
  height: 100%;
}
.password__container{
 max-height: 90%;

}

.password__header{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top:10px;
}

.password__logo{
  max-height: 140px;
}

.password__drops{
  position: absolute;
  top: 25px;
  left: 30px;
  width: 130px;
}

.password__main{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;

    .password__card{
		width: 40%;
	  }
    .password__card-image{
      width: 100%;
      max-width: 450px;

    }

	 .password__content{
		width: 60%;
    margin-top: 30px;

  		.password__title-box{
  			display: flex;
  			width: 90%;
  			margin: 0 auto;
  		  justify-content: center;

                h1{
                	font-family: 'Ernest', sans-serif;
                	font-size: 5em;
                	color: #f32735;
                	text-align: center;
                	letter-spacing: 3px;
                  margin: 0;
                }

				.hearts1,
        .hearts2{
            width: 30px;
				}
        .hearts2{
           margin-left: 5px;
        }
		  }
    }
    .password__text{
      margin-top: 30px;
    }

    p{
    	font-family: 'Dear-type-bold', 'Maven Pro', sans-serif;
    	font-size: 2em;
    	text-transform: uppercase;
    	color: #193868;
    	width: 75%;
      margin: 0 auto;
      margin-top: -10px;
      }

   .password__form{
      max-width: 330px;
    }

	 .password__newsletter{
       margin: 30px auto;

	  }
	 .password__newsletter-input{
      border: 1px solid #193868;
      border-width: 1px 0 1px 1px;
      border-radius: 10px 0px 0px 10px;
	  }

	 .password__newsletter-submit{
  	  background-color: #fff;
  	  border-radius: 0px 10px 10px 0px;
      border-width: 1px 1px 1px 0;
      border-color: #193868;
  	  cursor: pointer;
      font-family: 'Dear-type','Maven Pro', sans-serif;
      text-transform: uppercase;
      &:hover{
        background-color: #fff;
      }
	 }
   .submit__text{

      padding: 7px;
      border-radius: 3px;
      background-color: #193868;
   }
}


::placeholder {
      font-family: 'Dear-type-bold', 'Maven Pro', sans-serif;
      text-transform: uppercase;
      color: #193868;
      opacity: 1;
      font-size: 1.5em;
      transform:translate3d(0,4px,0);

 }

 .password__footer{
 	  position: relative;

       	.footer__title{
       		  font-family: 'Dear-type','Maven Pro', sans-serif;
          	font-size: 1.5em;
          	text-transform: uppercase;
          	color: #193868;
          	position: relative;
       	}
       	.footer__image-corner{
       		position: absolute;
       		right: 30px;
       		bottom: 10px;
       	}
       	.image-mouth{
       		width: 140px;

       	}

      .pass_insta,
      .pass_facebook{
         width: 40px;
         height: 40px;
      }

 }

@media screen and (max-width: 1279px) {
  .password__main{

  	.password__card{
		   width: 40%;
		   margin: 0 auto;
    }
	  .password__content{
	  	 width: 60%;

	   }

    .password__newsletter{
       width: 80%;
    }
	  .image-mouth{
	   	display: none;
    }
  }

}


@media screen and (max-width: 1105px) {
  .password__main .password__content .password__title-box h1{
    font-size: 4.5em;
   }
}

@media screen and (max-width: 952px) {
  .password__main .password__content .password__title-box h1{
    font-size: 3.7em;
   }
}

 @media screen and (max-width: 800px) {

  .password__main .password__content .password__title-box h1{
    font-size: 4.5em;
   }

 	.password__header{
	  padding: 30px;

    }

     .password__drops,
     .hearts1,
     .hearts2{
     	display: none;
     }

  .password__main{
	  align-items: columns;

			.password__card,
			.password__content{
				width: 100%;
			}
			p{
    	 width: 80%;
      }

      .password__newsletter{
       width: 80%;
	   }
  }

 }
  @media screen and (max-width: 400px) {
    .password__main{

        .password__newsletter{
            width: 90%;
            margin: auto;
	        }
    }

    .password__main .password__content .password__title-box h1 {
    	  font-size: 5em;
    }

    .password__main p {
    	font-size: 2em;
      margin-bottom: 10px;
    }

  }

  @media screen and (max-width: 350px) {
    .password__main{

        .password__newsletter{
            width: 100%;
            margin: auto;
          }
    }
  }

/*================ #FONTS  ===================================*/

@font-face {
    font-family: 'Ernest';
    src: url('https://cdn.shopify.com/s/files/1/0040/5517/1107/files/Ernest_Emily_1.otf?1191');
    font-style: normal;
  }
  @mixin ernest {
   font-family: "Ernest", serif;
  }
  .ernest{
    @include ernest;
  }

  @font-face {
    font-family: 'Dear-type';
    src: url('https://cdn.shopify.com/s/files/1/0040/5517/1107/files/DearType_-_MomentsSans-Regular_1.otf?1191');
    font-style: italic;
  }
  @mixin dear-type {
    font-family: "Dear-type", serif;
  }
  .dear-type{
    @include dear-type;
  }

  @font-face {
    font-family: 'Dear-type-bold';
    src: url('https://cdn.shopify.com/s/files/1/0040/5517/1107/files/DearType_-_MomentsSansBold-Regular_1.otf?1191');
    font-style: italic;
  }

 @import url('https://fonts.googleapis.com/css?family=Maven+Pro&display=swap');


  /*================ Quicksand medium  ===================================*/

    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

    @mixin medium {
      font-family: 'Quicksand', sans-serif;
    }
    .medium{
      @include medium;
    }

  /*================ Media queries avalanche =============================*/

    $thumb:            "screen and (max-width: 499px)";
    $handheld:         "screen and (min-width: 500px) and (max-width: 800px)";
    $handheld-and-up:  "screen and (min-width: 500px)";
    $pocket:           "screen and (max-width: 800px)";
    $lap:              "screen and (min-width: 801px) and (max-width: 1024px)";
    $lap-and-up:       "screen and (min-width: 801px)";
    $portable:         "screen and (max-width: 1024px)";
    $desk:             "screen and (min-width: 1025px)";
    $widescreen:       "screen and (min-width: 1160px)";
    $superwide:        "screen and (min-width: 1280px)";
    $wide:             "screen and (max-width: 1280px)";
    $retina:           "screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)";


  /*================ Colors =============================*/

    $white:white;
    $black:black;
    $grey:grey;
    $lightgrey:lightgrey;
    $lightred: #f46156;
    $pink: #ffdce4;
    $blue: #1b3063;
    $red: red;
    $transparent: transparent;


  /*================ custom font sizes ======================*/

    $font-size-title: 18px;
    $font-size-medium: 13px;
    $font-size-small: 8px;

    $font-size-title-large: 1.7em;
    $font-size-title-medium: 1.5em;
    $font-size-title-small: 1.3em;

    $footer-font-size: 14px;

  /*================ containers =============================*/

    .full__container{
          width: 100%;
          max-width: 1500px;
          margin: 0 auto;
      }

    .large__container{
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .medium__container{
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .small__container{
        width: 70%;
        max-width: 900px;
        margin: 0 auto;
    }


  /*================ spacing =============================*/

    $section-spacing-xlarge: 70px;
    $section-spacing-large: 50px;
    $section-spacing-medium: 30px;
    $section-spacing-small: 20px;

    $section-spacing-mobile-xlarge: 80px;
    $section-spacing-mobile-large: 50px;
    $section-spacing-mobile-medium: 20px;
    $section-spacing-mobile-small: 10px;

    .section-margin-xl{
       margin: $section-spacing-xlarge auto;
    }
    .section-margin-large{
       margin: $section-spacing-large auto;
    }
    .section-margin-medium{
       margin: $section-spacing-medium auto;
    }
    .section-margin-small{
       margin: $section-spacing-small auto;
    }

    @media #{$pocket}{
        .section-margin-xl{
           margin: $section-spacing-mobile-xlarge auto;
        }
        .section-margin-large{
           margin: $section-spacing-mobile-large auto;
        }
        .section-margin-medium{
           margin: $section-spacing-mobile-medium auto;
        }
        .section-margin-small{
           margin: $section-spacing-mobile-small auto;
        }
     }

  /*================ buttons and titles =============================*/

    .primary__button{
      padding: 10px 60px;
      background-color: inherit;
      border: 1px solid $black;
      color: $black;
    }

    .ecosecret__title-container {
        width: max-content;
        margin: 10px auto;
    }

    .ecosecret__title{
        width: fit-content;
        background-image: linear-gradient(to top, $pink 40%, $transparent 40%);
        padding: 5px;
        font-size: $font-size-title-large;
        margin-bottom: 40px;
    }

  /*================ Utilities =============================*/

      .align-center {
      	text-align: center;
      }
      .align-left {
      	text-align: left;
      }
      .align-right {
      	text-align: right;
      }

      .full-width{
        width: 100%;
      }

      .inherit{
        width: inherit;
      }

      .position-absolute-center{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .position-absolute-bottom{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, -5%);
      }

      .text-initial{
          text-transform: initial;
      }

      .desktop-only{
        display: block;
      }

      .mobile-only{
        display: none;
      }

      .line-height{
        line-height: 0;
      }

     .margin-cero{
        margin: 0;
     }
      .relative{
        position: relative;
      }

      .absolute{
        position: absolute;
      }

      @media #{$pocket}{
          .desktop-only{
            display: none;
          }

          .mobile-only{
            display: block;
          }
          .align-center-mobile {
            text-align: center;
          }
          .align-justify-mobile {
            text-align: justify;
          }
      }

/*========================================================*/
/*================ home page =============================*/
/*========================================================*/

/*================  image-home =============================*/

    .home-image-container{
      max-width: 1600px;
      width: 95%;
      margin: 0 auto;
    }

    .home-image__box{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color:$white;
      padding: 7px;
      min-width: fit-content;
    }

    .home-image__text{
      font-size: $font-size-title;
        span{
           margin: 5px;
        }
    }

    .home-picto{
        width: 60px;
        margin-right: 5px;
    }

    @media #{$pocket}{
        .home-image__box{
          position: relative;
          min-width: 0;
        }
        .home-image__text{
          font-size: $font-size-title-medium;
        }
    }

    @media #{$thumb}{
      .home-image__text{
           font-size: $font-size-small;
      }

      .home-picto {
           width: 25px;
        }
    }

/*================  home-products =============================*/

    .home-products-container{
      max-width: 1300px;
      margin: 0 auto;
    }

    .home-products__header {
        width: max-content;
        margin: 50px auto;
    }

    .home-products__title{
        text-align: center;
        background-image: linear-gradient(to top, $pink 50%, $white 50%);
        padding: 5px;
    }

    .home-products__image{
      max-width: 160px;
      margin: 20px auto;
    }

    @media #{$thumb}{
          .home-products__header {
              width: 70%;
          }
    }

/*================  home-advantages =============================*/


  .home-advantages__section{
    background-color: $blue;
  }

  .home-advantages-container{
       text-align: center;
       padding: 60px 0;
       max-width: 1300px;
       margin: 0 auto;
    }

   .home-advantages__title{
     color: $white;
     font-size: $font-size-title-large;
     text-transform: inherit;
     padding: 20px;
   }

   .home-advantages__image{
     max-width: 170px;
     margin: 20px auto;
   }

   .home-advantages__content{
     max-width: 350px;
      margin: 0 auto;
      p{
        color: $white;
      }
   }

   /*================  featured-product-paris =============================*/

    .featured-product-container{
       width: 90%;
       max-width: 1300px;
       margin: 0 auto;
       padding-top: 62px;
    }

   .featured-product-lines{
       position: absolute;
       top: 100px;
       z-index: -1;
   }

   .featured-product-line{
       width: 100%;
       height: 5px;
       margin-bottom: 10px;
       background-color: $blue;
   }
   .product-line-red{
       background-color: $red;
   }

   .featured-product_image{
     width: 250px;
     margin: 0 auto;
   }

   .featured-product__left{
     text-align: center !important;
   }

   .featured-product__subtitle{
     margin-bottom: 5px;
   }
   .featured-product__title{
     font-size: $font-size-title-large;
     text-transform: inherit;
   }

   .featured-product__description{
      max-width: 400px;
   }

    .featured-product__price{
      font-size: $font-size-title-large;
      font-weight: bold;
      margin: 15px auto;
    }
    .featured-product__flex{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .featured-product__bubble{
        text-align: right;
        width: 330px;
    }

    @media #{$pocket}{
          .featured-product__content{
               margin-top: 30px;
               text-align: center;
          }
          .featured-product__description{
             text-align: justify;
          }
      }

/*================  featured-product-seoul =============================*/

    .featured-product-seoul-container{
      width: 90%;
      max-width: 1400px;
      margin: 0 auto;
      padding-top: 62px;
      min-height: 700px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }

    .featured-product_image-seoul{
        width: 400px;
        margin-top: -40px;
    }

   @media #{$pocket}{
       .featured-product_image-seoul{
           width: 300px;
           margin-top: 30px;
       }
       .featured-product_image-box-seoul{
          text-align: center;
       }
   }


   /*================  home cta =============================*/

   .home-cta-container{
      width: 100%;
      position: relative;
   }
    .home-cta__content{
      position: absolute;
      text-align: center;
      top: 50%;
      left: 5%;
      transform: translateY(-50%);
      max-width: 700px;

    }

   .home-cta__text{
         p{
           text-transform: initial;
           color: $black;
           font-size: $font-size-title-medium;
         }
   }

   @media #{$superwide}{
       .home-cta__content{
          left: 10%;
       }
       .home-cta__text{
             p{
               font-size: $font-size-title-large;
             }
      }
   }

   @media #{$wide}{
          .home-cta__content{
            max-width: 600px;
          }

         .home-cta__text{
               p{
                 font-size: $font-size-title-small;
               }
        }
   }

   @media #{$pocket}{
      .home-cta__content{
         top: 50%;
         left: 0;
         transform: translate(0, -50%);
         padding: 20px;
         max-width: 100%;
      }
      .home-cta__text{
            p{
              font-size: $font-size-title-small;
            }
     }
   }

  /*================  home blog =============================*/

      .home-blog-container{
          width: 90%;
          max-width: 1300px;
          margin: 0 auto;
      }


      .home-blog__text{
          max-width:500px;
          margin-bottom: 30px;
      }
      @media #{$pocket}{
         .home-blog__content{
           text-align: center;
           margin-top: 30px;
         }
     }

/*================  home instafeed =============================*/

    .home-insta__images{
      display: flex;
      justify-content: space-around;
      max-width: 80%;
      margin: 50px auto;
      text-align: center;
          img{
               width: 90%;
          }
    }

    @media #{$pocket}{
       .home-insta__images{
         flex-direction: column;
           img{
                width: 60%;
           }
       }
   }

   @media #{$thumb}{
      .home-insta__images{
          img{
               width: 80%;
          }
      }
  }

/*======================================================*/
/*================  FOOTER =============================*/
/*======================================================*/

/*================  pre FOOTER =============================*/
  .footer-header{
    background-color: $blue;
    padding: 20px;
  }

  .footer-header__flex{
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .footer-header__title{
    text-transform: inherit;
    margin: 0;
    color: $white;
  }
  .footer-header__subtitle{
    color: $white;
  }

  .footer-header__picto{
    width: 70px;
    margin-right: 10px;
  }

  @media #{$thumb}{
    .footer-header__flex{
       justify-content: flex-start;
    }
  }

/*================  FOOTER =============================*/

.footer-ecosecret{
  padding-bottom: 50px;
}
.footer-ecosecret__container{
    width: 90%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 40px;

 }
 .footer-ecosecret p,
 .footer-ecosecret small,
 .footer-ecosecret li a {
     font-size: $footer-font-size;
 }

.footer-ecosecret__title{
      width: fit-content;
      background-image: linear-gradient(to top, $pink 40%, $transparent 40%);
      padding: 5px;
      font-size: $font-size-title;
      font-weight: 600;
  }

.form-footer__ecosecret{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.footer-ecosecret__input{
    width: 100%;
    margin-right: 10px;
  }

.footer-input__text{
    background-color: inherit;
    width: 100%;
    padding: 16px;
    border: 1px solid black;
    border-radius: 0;
    font-size: 10px;

     &::placeholder{
        font-family: 'Quicksand', sans-serif;
        text-transform: inherit;
        color:$black;
     }
  }

.footer-ecosecret__submit{
    background-color: $blue;
    border-radius: 0 0px 0px 0;
    padding: 10px 20px;
    color: $white;
    border: 1px solid #1b3063;
}


  .footer-ecosecret__image{
     width: 40%;
     margin: 0 auto;
     max-width: 300px;
  }

  .terms-conditions__menu{
    display: flex;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
    font-size:  $font-size-medium;
    font-weight: bold;

  }
  @media #{$pocket}{
      .footer-ecosecret__container {
        padding: 20px 0;
      }
      .terms-conditions__menu{
        flex-direction: column;
        text-align: center;
        li{
           margin-bottom: 10px;
        }
      }
  }
  /*======================================================*/
  /*================  PAGE HISTORY =======================*/
  /*======================================================*/

    .history-header__title{
        width: max-content;
        margin: 50px auto;
    }

     .history-header__title{
        text-align: center;
        background-image: linear-gradient(to top, $pink 40%, $white 40%);
        padding: 5px;
    }

  .history-header__container{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

  }

  .history-header__content{
     width: 55%;
     margin: 0 auto;
     background-color: $white;
     text-align: center;
     margin: 60px auto;
     padding: 40px;

  }

  .history-header__text{
    max-width: 600px;
    margin: 0 auto;
      p{
        color: $black;
      }
  }

@media #{$pocket}{
    .history-header__content {
        width: 90%;
        padding: 30px;
    }
}

/*================  setion addicts ===================*/

.history-addicts__text{
   margin-bottom: 30px;
}

.history-lab__container{
      padding: 30px 0;
}

.history-lab__content{
   margin: 50px auto;
   width: 80%;
}

.history-lab__title{
  font-size:  $font-size-title-medium;
}

.history-lab__text{
   margin-bottom: 40px;
}

.history-lab__image-left{
  margin-top: 50px;
}

@media #{$pocket}{
    .history-lab__image-left{
      margin-top: 0;
    }
}
/*======================================================*/
/*================  PAGE ingredients ===================*/
/*======================================================*/

.ingredients-image-container{
    width: 80%;
    margin: 30px auto;
    max-width: 1000px;
    text-align: center;
}

.ingredients-container{
    width: 90%;
    margin: 30px auto;
    max-width: 1000px;
}

.ingredients__title{
    font-size:  $font-size-title-large;
}

.ingredients-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    width: 90%;
    max-width:600px;
    padding: 5px;
    cursor: pointer;
}

.ingredients-button__picto{
    width: 50px;
    margin-right: 10px;
}

.ingredients-button__title{
   font-size:  $font-size-title;
}
