/*================ #PASSWORD PAGE =============================*/

html{
  height: 100%;
}
.password__container{
 max-height: 90%;

}

.password__header{
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top:10px;
}

.password__logo{
  max-height: 140px;
}

.password__drops{
  position: absolute;
  top: 25px;
  left: 30px;
  width: 130px;
}

.password__main{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;

    .password__card{
		width: 40%;
	  }
    .password__card-image{
      width: 100%;
      max-width: 450px;

    }

	 .password__content{
		width: 60%;
    margin-top: 30px;

  		.password__title-box{
  			display: flex;
  			width: 90%;
  			margin: 0 auto;
  		  justify-content: center;

                h1{
                	font-family: 'Ernest', sans-serif;
                	font-size: 5em;
                	color: #f32735;
                	text-align: center;
                	letter-spacing: 3px;
                  margin: 0;
                }

				.hearts1,
        .hearts2{
            width: 30px;
				}
        .hearts2{
           margin-left: 5px;
        }
		  }
    }
    .password__text{
      margin-top: 30px;
    }

    p{
    	font-family: 'Dear-type-bold', 'Maven Pro', sans-serif;
    	font-size: 2em;
    	text-transform: uppercase;
    	color: #193868;
    	width: 75%;
      margin: 0 auto;
      margin-top: -10px;
      }

   .password__form{
      max-width: 330px;
    }

	 .password__newsletter{
       margin: 30px auto;

	  }
	 .password__newsletter-input{
      border: 1px solid #193868;
      border-width: 1px 0 1px 1px;
      border-radius: 10px 0px 0px 10px;
	  }

	 .password__newsletter-submit{
  	  background-color: #fff;
  	  border-radius: 0px 10px 10px 0px;
      border-width: 1px 1px 1px 0;
      border-color: #193868;
  	  cursor: pointer;
      font-family: 'Dear-type','Maven Pro', sans-serif;
      text-transform: uppercase;
      &:hover{
        background-color: #fff;
      }
	 }
   .submit__text{

      padding: 7px;
      border-radius: 3px;
      background-color: #193868;
   }
}


::placeholder {
      font-family: 'Dear-type-bold', 'Maven Pro', sans-serif;
      text-transform: uppercase;
      color: #193868;
      opacity: 1;
      font-size: 1.5em;
      transform:translate3d(0,4px,0);

 }

 .password__footer{
 	  position: relative;

       	.footer__title{
       		  font-family: 'Dear-type','Maven Pro', sans-serif;
          	font-size: 1.5em;
          	text-transform: uppercase;
          	color: #193868;
          	position: relative;
       	}
       	.footer__image-corner{
       		position: absolute;
       		right: 30px;
       		bottom: 10px;
       	}
       	.image-mouth{
       		width: 140px;

       	}

      .pass_insta,
      .pass_facebook{
         width: 40px;
         height: 40px;
      }

 }

@media screen and (max-width: 1279px) {
  .password__main{

  	.password__card{
		   width: 40%;
		   margin: 0 auto;
    }
	  .password__content{
	  	 width: 60%;

	   }

    .password__newsletter{
       width: 80%;
    }
	  .image-mouth{
	   	display: none;
    }
  }

}


@media screen and (max-width: 1105px) {
  .password__main .password__content .password__title-box h1{
    font-size: 4.5em;
   }
}

@media screen and (max-width: 952px) {
  .password__main .password__content .password__title-box h1{
    font-size: 3.7em;
   }
}

 @media screen and (max-width: 800px) {

  .password__main .password__content .password__title-box h1{
    font-size: 4.5em;
   }

 	.password__header{
	  padding: 30px;

    }

     .password__drops,
     .hearts1,
     .hearts2{
     	display: none;
     }

  .password__main{
	  align-items: columns;

			.password__card,
			.password__content{
				width: 100%;
			}
			p{
    	 width: 80%;
      }

      .password__newsletter{
       width: 80%;
	   }
  }

 }
  @media screen and (max-width: 400px) {
    .password__main{

        .password__newsletter{
            width: 90%;
            margin: auto;
	        }
    }

    .password__main .password__content .password__title-box h1 {
    	  font-size: 5em;
    }

    .password__main p {
    	font-size: 2em;
      margin-bottom: 10px;
    }

  }

  @media screen and (max-width: 350px) {
    .password__main{

        .password__newsletter{
            width: 100%;
            margin: auto;
          }
    }
  }
